/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

/* component */
@import url('./sidebar.css');
@import url('./main-content.css');
@import url('./logout.css');

/* warna */
:root{
    --background-utama: #ffffff;
    --background-sekunder: #0B2142;
    --text-utama: #0B2142;
    --text-sekunder: #FFFDF8;
    --button-utama: #FEC72F;
    --bg-hover-utama: #75C5F0;
    --bg-hover-sekunder: #6D609E;
}

*{
    font-family: 'Poppins',sans-serif;
}
